@import "variables";

.play-page {
  //background-color: @navy;
  .banner {
    height: calc(735 / 1440 * 100vw);

    .bg-text.mobile-only {
      display: none;
    }
    &:after {
      clip-path: polygon(0% 90%, 100% 0, 100% 100%, 0 100%);
    }
    .bg-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .separated-text {
      max-width: 1127px;
      width: calc(1127 / 1440 * 100vw);
      position: absolute;
      bottom: 160px;
      left: 100px;
      //transform: translateX(-50%);

      display: flex;
      justify-content: space-between;
      grid-gap: 41px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 110px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    h2 {
      max-width: 472px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.03em;
      color: @white;
      span {
        color: @n-green;
      }
    }
    p {
      max-width: 472px;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: @white;
    }
  }
  .container {
    max-width: 1248px;
  }
  .what-we-have {
    padding-top: 64px;

    .info {
      display: flex;
      justify-content: space-between;
      //align-items: center;
      grid-gap: 24px;
      &.x-card-block {
        align-items: center;
        .btn {
          margin-top: 16px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 36px;
      }
      .img {
        max-width: 616px;
        max-height: 560px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
        border-radius: 50px 0;
        &.img-small {
          max-width: 520px;
          max-height: 540px;
          box-shadow: none;
          border-radius: 0;
        }
      }
      &-content {
        max-width: 616px;
        width: 100%;
		margin-bottom: 20px;

        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: @white;
        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: @white;
          margin-bottom: 20px;
        }
        ul {
          padding-left: 26px;
		  padding-top: 20px;
          &.apex-kids{
            li {
              list-style: numeric;
            }
          }
        }
        li {
          list-style: disc;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &:last-child {
            margin-bottom: 30px;
          }
        }
        p {
          //font-weight: 400;
          font-weight: 300;
          font-size: 16px;
          line-height: 26px;
          color: @white;
          margin-bottom: 20px;			
        }
        li {
          //font-weight: 400;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
          color: @white;
        }
      }
    }
  }
  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //grid-gap: 24px;
    margin-bottom: 96px;
    padding: 0;
    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.02em;
      color: @white;
      max-width: 351px; //374
    }
    h5 {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: @white;
      letter-spacing: -0.02em;
      margin-bottom: 16px;
      max-width: 584px;
    }
    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: @white;
      max-width: 550px;
    }
    .btn {
      width: 268px;
      align-self: flex-start;
    }
  }
  //.row {
  //  display: flex;
  //  grid-gap: 48px;
  //}
  .content-section {
    display: grid;
    //grid-template: auto / 1fr 1fr 1fr;
    max-width: 1248px;
    margin: 0 auto;

    align-items: start;
    grid-column-gap: 14px;
    &.mobile-only {
      display: none;
    }
  }
  .item {
    max-width: 384px;
    //min-height: 422px;
    width: 100%;
    position: relative;
    border-radius: 20px 0;
    overflow: hidden;
    margin-bottom: 96px;
    margin-right: auto;
    margin-left: auto;
    &.first {
      margin-left: 0;
      margin-right: auto;
    }
    &.end {
      margin-left: auto;
      margin-right: 0;
    }
    .content {
      background: @white;
      padding: 32px 24px;
      min-height: 117px;
      display: flex;
      align-items: center;
    }
    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: @midnight;
    }
    .img {
      position: relative;
      max-height: 280px;
      height: 100%;
    }
    .title {
      cursor: pointer;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: @white;
      text-transform: capitalize;
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      //background: rgba(255, 255, 255, 0.3);
      background: rgba(17, 5, 79, 0.3);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      img {
        width: 24px;
        height: 28px;
      }
    }
    .expanded-img {
      display: none;
      height: 455px;
    }
    &.expanded {
      border-radius: 20px 0 0 0;
      .expanded-img {
        display: block;
      }
      .img, .content {
        display: none;
      }
    }
    &.sign-up {
      padding: 22px 32px 40px;
      background: @n-green;
      border-top: 10px solid @a-orange;
      border-radius: 0 0 20px 20px;
      .img-social {
        width: 56px;
        height: 56px;
      }
      h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.03em;
        color: @navy;
        margin: 48px 0 32px;
      }
      input {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.01em;
        color: #70707B;

        padding: 10px 14px;
        background: @white;
        border: 1px solid #D0D5DD;
        box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;

        &::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.01em;
          color: #70707B;
        }
      }
      a {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: #2E2B26;
        margin: 6px 0 16px;
      }
      .btn {
        max-width: 100%;
        width: 100%;
      }
      form {
        display: block;
      }
    }
  }
  .more-info {
    grid-column-start: 1;
    grid-column-end: 4;
    //height: 0;
    margin-top: -96px;
    height: auto;
    overflow: hidden;
    //background: linear-gradient(12.01deg, #120550 13.29%, #528BFF 86.38%);
    box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    //border-radius: 20px;
    position: relative;
    &.expanded {
      margin-top: -96px;
      height: auto;
    }
    .close {
      position: absolute;
      top: 48px;
      right: 64px;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .item-content{
      border-radius: 20px;
    }
    .item-content:first-child{
      border-top-left-radius: 0;
    }
    .item-content:nth-child(3){
      border-top-right-radius: 0;
    }
  }
  .item-content {
    padding: 116px 72px 60px;
    max-width: 1328px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(12.01deg, #120550 13.29%, #528BFF 86.38%);

    .title {
      position: relative;
      padding-right: 200px;
      margin-bottom: 84px;
      h2 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 64px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: @white;
        max-width: 1000px;
        margin-bottom: 45px;
      }
      p {
        //font-weight: 400;
        //font-size: 22px;
        //line-height: 32px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: @white;
        max-width: 1000px;
      }
     li {
        //font-weight: 400;
        //font-size: 22px;
        //line-height: 32px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: @white;
        max-width: 1000px;
		}
      ul {
        padding-left: 26px;
        margin-top: 30px;
      }
      li {
        list-style: disc;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:last-child {
          margin-bottom: 30px;
        }
      }
      .btn {
        max-width: 162px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 89px;
        &:after{
          z-index: -1;
        }
      }
      .waiver {
        top: 155px;
      }
      blockquote{
        font-style: italic;
      }
    }
  }

  .book-event {
    padding-top: 70px;
  }

  @media (max-width: 1280px) {
    .banner {
      h2 {
        max-width: 340px;
        font-size: 24px;
        line-height: 28px;
      }
      p {
        max-width: 340px;
        font-size: 18px;
        line-height: 24px;
      }
      .separated-text {
        bottom: 120px;
        left: 7%;
        max-width: 800px;
        &:after {
          height: 74px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .banner {
      min-height: auto;
      &:after {
        clip-path: polygon(0 100%, 0% 90%, 100% 100%, 0% 100%);
      }
      h2 {
        max-width: 192px;
        font-size: 14px;
        line-height: 18px;
      }
      p {
        max-width: 246px;
        font-size: 14px;
        line-height: 18px;
      }
      .separated-text {
        bottom: 90px;
        left: 7%;
        max-width: 500px;
        width: calc(500 / 991 * 100vw);
        &:after {
          height: 50px;
          left: 45%;
        }
      }
    }
    .content-section {
      grid-template: auto / 1fr 1fr;
    }
    .item {
      margin: 0 auto 96px;
      &.first, &.end {
        margin: 0 auto 96px;
      }
      .title {
        font-size: 20px;
      }
    }
    .more-info {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (max-width: 768px) {
    .banner {
      h2 {
        max-width: 192px;
        font-size: 14px;
        line-height: 18px;
      }
      p {
        max-width: 246px;
        font-size: 14px;
        line-height: 18px;
      }
      .separated-text {
        bottom: 60px;
        left: 7%;
        max-width: 380px;
        width: 100%;
        &:after {
          height: 50px;
          left: 45%;
        }
      }
    }
    .section-title {
      align-items: flex-start;
      flex-direction: column;
      padding: 0 12px;
      h2 {
        font-size: 36px;
        max-width: 100%;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.02em;
      }
      h5 {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        span{
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #FFFFFF;
          letter-spacing: -0.02em;
        }
      }
      h5, p {
        font-weight: 300;
        display: inline;
      }
    }
  }

  @media (max-width: 600px) {
    .banner {
      .separated-text {
        grid-gap: 14px;
        bottom: 24px;
        left: 7%;
        max-width: 380px;
        width: 100%;
        &:after {
          height: 50px;
          left: 43%;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .banner {
      height: 520px;
      .bg-text {
        display: none;
      }
      .bg-text.mobile-only {
        background-image: url(../img/4.png);
        background-position: top;
        display: block;
      }
      h2 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        max-width: 325px;
        width: 100%;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        max-width: 325px;
        width: 100%;
      }
      .separated-text {
        flex-direction: column;
        grid-gap: 26px;
        bottom: 20px;
        //bottom: 74px;
        left: 7%;
        max-width: 325px;
        width: 100%;
        &:after {
          content: none;
        }
      }
    }
    .content-section {
      display: none;
      &.mobile-only {
        display: block;
      }
    }

    .content-section.mobile-only {
      overflow: hidden;
      padding-top: 40px;
      position: relative;
      min-height: 510px;
      //min-height: 490px;
      //min-height: 450px;
      //min-height: 500px;

      .nav-arrows {
        position: absolute;
        display: flex;
        column-gap: 20px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        img{
          cursor: pointer;
          border: 1px solid white;
          border-radius: 50%;
          padding: 6px 4px;

          &:first-child {
            transform: rotate(180deg);
          }
        }
      }

      .content-inner {
        display: none;
      }
      .item {
        // 308 344
        // 154  172
        //width: 100%;
        max-width: 100%;
        position: absolute;
        //width: calc(100% - 24px);
        width: 344px;
        left: calc(50% - 172px);
        //left: 12px;
        top: 40px;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        //box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        box-shadow: 0 2px 10px -4px rgb(16, 24, 40, 0.5);
        .mobile-item {
          margin: 0 auto;
          max-width: 100%;
          width: 100%;
          min-height: 392px;
          height: 392px;
          border-radius: 16px;
          overflow: hidden;
        }
        &.last-item-mobile {
          box-shadow: none;
          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          h2 {
            font-weight: 700;
            font-size: 34px;
            line-height: 42px;
            letter-spacing: -0.02em;
            color: @white;
            text-align: center;
            margin-bottom: 48px;
          }
          .btn-hover-anim {
            background: none;
            width: 100%;
            border-radius: 0;
            &:before {
              content: '';
              position: absolute;
              left: -100%;
              top: 0;
              width: 100%;
              height: 100%;
              background: @a-orange;
              transition: left 0.3s ease-in-out;
              border-radius: 0;
              clip-path: polygon(0 100%, 93% 100%, 100% 0%, 0% 0%);
            }
            &:after {
              content: none;
            }
            &:hover, &:focus {
              &:before {
                left: 0;
                transition: left 0.3s ease-in-out;
              }
            }
          }
        }
        &.next {
          transition: transform 0.3s ease-in-out;
          transform: translateY(30px) !important;
          width: 308px;
          left: calc(50% - 154px);
          .mobile-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            height: 353px;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            .content {
              padding-bottom: 32px;
              //padding-bottom: 32px;
            }

            .text {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &.prev {
          z-index: -1;
          visibility: hidden;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .banner {
      .separated-text {
        bottom: 74px;
      }
    }
  }
}
